.container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.users__search {
  padding: 20px;
}
.users__form {
  display: flex;
  padding: 0 20px 0 20px;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.users__form__input {
  color: #282828;
  margin-right: 15px;
  display: block;
  width: 100%;
  padding-left: 12px;
  box-sizing: border-box;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  font-size: 14px;
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
}

.users__form__button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  height: 48px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eeeeee;
  transition: all 0.2s;
}

.users__sort_btns {
  display: none;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th {
  background-color: #f8f8f8;
  padding: 1em;
}
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .users__sort_btns {
    display: block;
    margin: 5px;
  }
  .users__sort_btn {
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    margin: 5px;
  }
  table {
    border: 0;
    width: 100%;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
